.container {
  padding: 0 0.5rem;
}

.main {
  min-height: 100vh;
  padding: 0.3rem 0;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.Panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 100%;
}

.PanelHead {
  background-color: #007bff;
  border-color: #ddd;
  color: #fff;
  padding: 0.5rem;
  padding: 1rem 1.5rem;
  line-height: 1.3;
}

.Organisation {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.Organisation:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
